@charset "UTF-8";

.ThemeMenu-Items.show{
        opacity: 1;
        z-index: 100;
}

.ThemeMenu-Items{
        position: fixed;

        border-radius: 16px;
        border-style: solid;
        border-color: rgb(220, 220, 220);
        border-width: 1.2px;
        padding: 22px;
        box-sizing: border-box;

        box-shadow: 0 2px 10px 2px rgba(95, 95, 95, 0.1);

        top: 50%; 
        left: 50%;

        background-color: rgb(241, 241, 241);
        color: rgb(0, 0, 0);

        height: auto;
        width: 50%;
        max-height: 60%;
        max-width: 500px;
        min-width: 400px;
        overflow-y: auto;

        transform: translate(-50%, -50%);
        opacity: 0;
        transition: transform 0.1s ease, opacity 0.1s ease;
}

.ThemeMenu-Items a{
        display: block;
        padding: 6px 12px;

        text-decoration: none;
        color: rgb(0, 0, 0);
}

.ThemeMenu-Items:hover{
        transition: 0.4s ease;
        background-color: rgb(220, 220, 220);
        border-color: rgb(185, 185, 185);
}
.ThemeMenu-Options{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
        gap: 15px;

        width: 100%;
}       

.LightTheme, .DarkTheme, .BlueTheme, .GreenTheme, .PurpleTheme{
        border-radius: 24px;
        border-style: solid;
        border-color: rgb(220, 220, 220);
        border-width: 1.6px;

        height: 124px;
        width: 124px;
}

.LightTheme:hover, .DarkTheme:hover, .BlueTheme:hover, .GreenTheme:hover, .PurpleTheme:hover{
        transition: 0.2s ease;

        border-color: rgb(185, 185, 185);
        
        opacity: 1;
        font-size: 12px;

        height: 118px;
        width: 118px;
        cursor: pointer;
}

.LightTheme:hover{
        background-color: rgb(255, 255, 255);
}
.DarkTheme:hover{
        background-color: rgb(182, 182, 182);
}
.BlueTheme:hover{
        background-color: rgb(156, 156, 236);
}
.GreenTheme:hover{
        background-color: rgb(166, 243, 166);
}
.PurpleTheme:hover{
        background-color: rgb(226, 152, 226);
}