@charset "UTF-8";

.BtAddComponent, .BtChangeComponent, .BtDeleteComponent{
        border-radius: 42px;
        border-style: solid;
        border-color: rgb(220, 220, 220);
        border-width: 6.4px;

        opacity: 0.8;

        height: 186px;
        width: 186px;
        cursor: pointer;
}

.BtAddComponent:hover, .BtChangeComponent:hover, .BtDeleteComponent:hover{
        transition: 0.2s ease;

        background-color: rgb(255, 255, 255);
        border-color: rgb(185, 185, 185);
        
        opacity: 1;
        font-size: 12px;
}