@charset "UTF-8";

.BtLeftMenu, .BtUserMenu, .BtCloseMenu, .BtThemeMenu{
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 6px;

        background-color: rgb(241, 241, 241);
        opacity: 0.5;
        transition: 0.1s ease;

        width: 26px;
        height: 26px;

        border: none;
        outline: none;
        cursor: pointer;
}

.BtLeftMenu:hover, .BtUserMenu:hover, .BtCloseMenu:hover, .BtThemeMenu:hover{
        border-radius: 6px;
        background-color: rgb(255, 255, 255);
        opacity: 1;
}

.CloseMenu{
        position: absolute;
        top: 10px;
        right: 10px;
}

/* Opções para os links dos menus */
.leftMenu-Items a, .UserMenu-Items a{
        display: block;
        padding: 6px 12px;

        text-decoration: none;
        color: rgb(0, 0, 0);
}