@charset "UTF-8";

@media screen and (max-width: 880px){
        header{
                height: 54px;
        }

        .search{
                display: flex;
                align-items: center;
                justify-content: center;                

                width: 300px;
        }
        .search input{                                 
                border-radius: 52px;
                padding-left: 12px;

                height: 38px;
                width: 100%;
        }


        .menu-lateral{
                display: none;
        }
        .ContentSite{
                padding: 0px;
        }

        .UserMenu-Skin{
                display: none;
        }

        .LeftMenu-Skin{
                display: flex;
        }
        .UserMenu-Items{
                right: 4px;
                top: 56px;
        }

        article{
                border-radius: 0px;
                height: 100%;
        }

        .ComponentList{
                height: 85%;                        
                min-width: 0%;
                width: 100%;
        }

        .BtAddComponent, .BtChangeComponent, .BtDeleteComponent{
                border-radius: 28px;
                border-width: 5px;

                height: 138px;
                width: 138px;
        }

        
        footer{
                border-style: solid;
                border-color: rgb(220, 220, 220);
                border-width: 1.5px;
        }
}