@charset "UTF-8";

.search{
        display: flex;

        margin: auto;
        width: 400px;
        opacity: 0.6;
        transition: 0.1s ease;
}

.search:hover{
        opacity: 1;
}       

.search input{
        border-radius: 6px;

        border: none;
        outline: none;

        background-color: rgb(222, 222, 222);

        width: 100%;
}